.registrPage {
  border: 1px solid black;
  padding: 40px;
}

.homeLink {
  display: flex;
  justify-content: end;
  color: blue;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
